[contenteditable]:focus {
    outline: 0px solid transparent;
}

body {
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Noto Serif', serif;
  background-color: #F5F5F5;
  
}

.placeholder {
  color: #d3d3d3;
}

h1, h2 {
  font-family: 'Lato', sans-serif;
}

h2 {
  color: #434343;
}
